<nz-calendar>
  <div *nzDateCell="let date">
    @for (plannedPayment of getPlannedPaymentsForDate(date); track plannedPayment.id) {
      <div class="payment">
        <div class="icon" [style.background-color]="plannedPayment.category.color">
          <span nz-icon [nzType]="plannedPayment.category.icon"></span>
        </div>

        <div class="payment-info">
          <p class="payment-name">{{ plannedPayment.name }}</p>
          <p
            class="payment-amount"
            [class.income]="plannedPayment.type === RecordTypeEnum.Income"
            [class.outcome]="plannedPayment.type === RecordTypeEnum.Outcome"
          >
            {{ plannedPayment.amount | toDefaultCurrency: plannedPayment.currencyCode }}
          </p>
        </div>
      </div>
    }
  </div>
</nz-calendar>
