<div class="fpd-card">
  @if (accounts) {
    <form nz-form [formGroup]="filterForm" [nzLayout]="'vertical'" (ngSubmit)="onFilter()">
      <nz-form-item>
        <nz-form-label>Accounts</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="accounts" nzMode="multiple">
            @for (account of accounts; track account.id) {
              <nz-option [nzLabel]="account.name + account.maskedPan" [nzValue]="account"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Month</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="month" nzMode="month"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <button nz-button type="submit" nzType="primary">Filter</button>
    </form>
  }
</div>
