@if (record) {
  @if (record.company && COMPANY_TO_LOGO[record.company]) {
    @if (record.company) {
      <img class="company-icon" [src]="COMPANY_TO_LOGO[record.company]" alt="" />
    }
  } @else {
    @if (record.category) {
      <div class="icon" [style.background-color]="record.category.color">
        <span nz-icon [nzType]="record.category.icon"></span>
      </div>
    } @else {
      <div class="icon icon-no-category">-</div>
    }
  }
} @else {
  <div class="icon icon-no-category">-</div>
}
