<nz-spin [nzSpinning]="isLoading$ | async">
  <form nz-form [formGroup]="formGroup" [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-label>Name</nz-form-label>

      <nz-form-control>
        <input nz-input formControlName="name" type="text" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Color</nz-form-label>

      <nz-form-control>
        <nz-select
          formControlName="color"
          nzPlaceHolder="Choose color"
          [nzCustomTemplate]="defaultColorTemplate"
        >
          <nz-option *ngFor="let color of COLOR_OPTIONS" nzCustomContent [nzValue]="color.value">
            <span class="color-option" [style.background-color]="color.value"></span>
          </nz-option>
        </nz-select>

        <ng-template #defaultColorTemplate let-selected>
          <span class="color-option" [style.background-color]="selected.nzValue"></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Icon</nz-form-label>

      <nz-form-control>
        <nz-select
          formControlName="icon"
          nzPlaceHolder="Choose icon"
          [nzCustomTemplate]="defaultIconTemplate"
        >
          <nz-option *ngFor="let icon of CATEGORY_ICON_OPTIONS" nzCustomContent [nzValue]="icon.value">
            <span nz-icon [nzType]="icon.value"></span>
          </nz-option>
        </nz-select>

        <ng-template #defaultIconTemplate let-selected>
          <span nz-icon [nzType]="selected.nzValue"></span>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Parent category</nz-form-label>

      <nz-form-control>
        <nz-select
          formControlName="parentCategory"
          nzPlaceHolder="Choose"
          nzAllowClear
          [nzLoading]="isLoading$ | async"
          [nzOptions]="(categoriesOptions$ | async) ?? []"
          [compareWith]="compareWithFn"
        >
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
