<fpd-page-header [title]="'Budget builder'"></fpd-page-header>

<div class="fpd-card">
  <div>
    <div>
      <nz-form-label>Select month</nz-form-label>

      <nz-form-control>
        <nz-date-picker [formControl]="monthControl" nzMode="month"></nz-date-picker>
      </nz-form-control>
    </div>

    <button nz-button nzType="primary" (click)="onGenerate()">Generate</button>
  </div>

  @if (initialized$ | async) {
    <div class="budgets-table">
      <h3>Budgets</h3>

      <nz-table
        #budgetsTable
        [nzLoading]="isLoading$ | async"
        [nzData]="(budgets$ | async) ?? []"
        [nzFrontPagination]="false"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Categories</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          @for (budget of budgetsTable.data; track budget.id) {
            <tr>
              <td>{{ budget.name }}</td>
              <td>{{ budget.period }}</td>
              <td>
                @for (category of budget.categories; track category) {
                  {{ category.name }},
                }
              </td>
              <td>{{ budget.amount | toDefaultCurrency: budget.currencyCode }}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>

    <div class="planned-payments-table">
      <h3>Planned income</h3>

      <nz-table
        #plannedIncomesTable
        [nzLoading]="isLoading$ | async"
        [nzData]="(plannedIncomePayments$ | async) ?? []"
        [nzFrontPagination]="false"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Period</th>
            <th>Category</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          @for (plannedPayment of plannedIncomesTable.data; track plannedPayment.id) {
            <tr>
              <td>{{ plannedPayment.name }}</td>
              <td>{{ PERIOD_TO_LABEL[plannedPayment.period] }}</td>
              <td>
                @if (plannedPayment.category) {
                  {{ plannedPayment.category.name }}
                } @else {
                  -
                }
              </td>
              <td>{{ plannedPayment.amount | toDefaultCurrency: plannedPayment.currencyCode }}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>

    <div class="planned-payments-table">
      <h3>Planned outcome</h3>

      <nz-table
        #plannedOutcomesTable
        [nzLoading]="isLoading$ | async"
        [nzData]="(plannedOutcomePayments$ | async) ?? []"
        [nzFrontPagination]="false"
      >
        <thead>
          <tr>
            <th>Name</th>
            <th>Period</th>
            <th>Category</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          @for (plannedPayment of plannedOutcomesTable.data; track plannedPayment.id) {
            <tr>
              <td>{{ plannedPayment.name }}</td>
              <td>{{ PERIOD_TO_LABEL[plannedPayment.period] }}</td>
              <td>
                @if (plannedPayment.category) {
                  {{ plannedPayment.category.name }}
                } @else {
                  -
                }
              </td>
              <td>{{ plannedPayment.amount | toDefaultCurrency: plannedPayment.currencyCode }}</td>
            </tr>
          }
        </tbody>
      </nz-table>
    </div>
    @if (summary$ | async; as summary) {
      <div class="summary">
        <p>{{ summary.income | amountFormat }}</p>
        <p>{{ summary.outcome | amountFormat }}</p>
        <p>{{ summary.difference | amountFormat }}</p>
      </div>
    }
  }
</div>
