<div class="fpd-card">
  <h3>{{ label }}</h3>

  <nz-table #table [nzData]="records">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of table.data">
        <td>
          {{ record.name }}
        </td>
        <td>{{ record.category?.name ?? 'none' }}</td>
        <td>
          <span
            [class.income]="record.type === RecordTypeEnum.Income"
            [class.outcome]="record.type === RecordTypeEnum.Outcome"
            >{{ record.amount | amountFormat | currencyFormat : record.currencyCode }}</span
          >
        </td>
        <td>
          <span *ngIf="record.bankCreatedAt">{{ record.bankCreatedAt | date : 'medium' }}</span>
        </td>
        <td>
          <!--      <button nz-button nzSize="small" (click)="onEditRecord(record)">Edit</button>-->
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
