<div class="fpd-card">
  <h3>{{ label }}</h3>

  <nz-table #table [nzData]="records">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of table.data">
        <td style="width: 0">
          <ng-container *ngIf="record.category; else withoutCategoryTemplate">
            <div class="icon" [style.background-color]="record.category.color">
              <span nz-icon [nzType]="record.category.icon"></span>
            </div>
          </ng-container>

          <ng-template #withoutCategoryTemplate>
            <div class="icon icon-no-category">-</div>
          </ng-template>
        </td>
        <td>
          {{ record.name }}
        </td>
        <td>{{ record.category?.name ?? 'none' }}</td>
        <td>
          <span
            [class.income]="record.type === RecordTypeEnum.Income"
            [class.outcome]="record.type === RecordTypeEnum.Outcome"
            >{{ record.amount | amountFormat | currencyFormat : record.currencyCode }}</span
          >
        </td>
        <td>
          <span *ngIf="record.bankCreatedAt">{{ record.bankCreatedAt | date : 'medium' }}</span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
