:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.fpd-card {
  flex-grow: 1;
}

.chart-container {
  height: 300px;
}

.income {
  color: var(--ant-success-color);
}

.outcome {
  color: var(--ant-warning-color);
}
