<h1 class="logo">Budget</h1>

<ul nz-menu nzMode="inline">
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Analytics]">
      <span nz-icon [nzType]="IconEnum.BarChart"></span><span>Analytics</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Providers]">
      <span nz-icon [nzType]="IconEnum.AccountBalance"></span><span>Banks</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Accounts]">
      <span nz-icon [nzType]="IconEnum.CreditCard"></span><span>Accounts</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Records]">
      <span nz-icon [nzType]="IconEnum.Receipt"></span><span>Records</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Categories]">
      <span nz-icon [nzType]="IconEnum.Category"></span><span>Categories</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Budgets]">
      <span nz-icon [nzType]="IconEnum.PriceChange"></span><span>Budgets</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.BudgetPlans]">
      <span nz-icon [nzType]="IconEnum.Construction"></span><span>Budget plans</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.PlannedPayments]">
      <span nz-icon [nzType]="IconEnum.CalendarMonth"></span><span>Planned payments</span>
    </a>
  </li>
  <li nz-menu-item nzMatchRouter>
    <a [routerLink]="['/', RoutePathEnum.Dashboard, RoutePathEnum.Settings]">
      <span nz-icon [nzType]="IconEnum.Settings"></span><span>Settings</span>
    </a>
  </li>
</ul>
