<nz-spin [nzSpinning]="isLoading$ | async">
  <p>Select accounts you want to synchronize and click Synchronize button</p>

  <form nz-form [formGroup]="form" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label>Select accounts ofr synchronization</nz-form-label>

      <nz-form-control>
        <nz-select formControlName="accounts" [nzMode]="'multiple'">
          @for (option of options; track option.value.id) {
            <nz-option [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Select date range</nz-form-label>

      <nz-form-control>
        <nz-range-picker formControlName="range" [nzMode]="'month'"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <button nz-button nzType="primary" [disabled]="(isLoading$ | async) || form.invalid" (click)="onNext()">
    Synchronize
  </button>

  <button nz-button nzType="default" (click)="onClose()">Later</button>
</div>
