<nz-spin [nzSpinning]="isLoading$ | async">
  <p>
    Select date range and click Synchronize button. It can take a couple of minutes depending on the date range you
    choose
  </p>

  <form nz-form [formGroup]="form" nzLayout="vertical">
    <nz-form-item>
      <nz-form-label>Select date range</nz-form-label>

      <nz-form-control>
        <nz-range-picker formControlName="range" [nzMode]="'month'"></nz-range-picker>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>

<div *nzModalFooter>
  <button nz-button nzType="primary" [disabled]="(isLoading$ | async) || form.invalid" (click)="onNext()">
    Synchronize
  </button>

  <button nz-button nzType="default" [disabled]="isLoading$ | async" (click)="onClose()">Cancel</button>
</div>
