<fpd-page-header [title]="'Analytics'"></fpd-page-header>

<div class="layout">
  <div class="widgets-container">
    <div class="row">
      <fpd-summary-card-widget
        class="col"
        [label]="'Incomes'"
        [summary]="summary$ | async"
        [prevSummary]="prevSummary$ | async"
        [type]="SummaryCardWidgetTypeEnum.Income"
      ></fpd-summary-card-widget>

      <fpd-summary-card-widget
        class="col"
        [label]="'Outcome'"
        [summary]="summary$ | async"
        [prevSummary]="prevSummary$ | async"
        [type]="SummaryCardWidgetTypeEnum.Outcome"
      ></fpd-summary-card-widget>
    </div>

    <div class="row">
      <fpd-outcome-by-categories-widget
        class="col"
        [label]="'Outcome by categories'"
        [summary]="summary$ | async"
        [categories]="categories$ | async"
      ></fpd-outcome-by-categories-widget>

      <fpd-budgets-widget
        class="col"
        [label]="'Budgets'"
        [summary]="summary$ | async"
        [budgets]="budgets$ | async"
      ></fpd-budgets-widget>
    </div>

    <fpd-year-stat-widget
      [label]="'Year stat'"
      [summaries]="yearSummaries$ | async"
      [filters]="filters$ | async"
    ></fpd-year-stat-widget>

    <fpd-latest-records-widget
      [label]="'Current period records'"
      [summary]="summary$ | async"
    ></fpd-latest-records-widget>
  </div>

  <div class="filters-container">
    <fpd-filters
      [accounts]="accounts$ | async"
      [settings]="settings$ | async"
      (filter)="onFilter($event)"
    ></fpd-filters>
  </div>
</div>
