<fpd-page-header [title]="'Analytics'"></fpd-page-header>

<div class="layout">
  <div class="fpd-card">
    <ng-container *ngIf="accounts$ | async as accounts">
      <form nz-form [formGroup]="filterForm" [nzLayout]="'vertical'" (ngSubmit)="onFilter()">
        <nz-form-item>
          <nz-form-label>Month</nz-form-label>

          <nz-form-control>
            <nz-date-picker formControlName="month" nzMode="month"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Accounts</nz-form-label>

          <nz-form-control>
            <nz-select formControlName="accounts" nzMode="multiple">
              <nz-option
                *ngFor="let account of accounts"
                [nzLabel]="account.name + account.maskedPan"
                [nzValue]="account"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <button nz-button type="submit">Filter</button>
      </form>
    </ng-container>
  </div>

  <div class="row">
    <fpd-summary-card-widget
      class="summary-card"
      [label]="'Incomes'"
      [summary]="summary$ | async"
      [prevSummary]="prevSummary$ | async"
      [type]="SummaryCardWidgetTypeEnum.Income"
    ></fpd-summary-card-widget>

    <fpd-summary-card-widget
      class="summary-card"
      [label]="'Outcome'"
      [summary]="summary$ | async"
      [prevSummary]="prevSummary$ | async"
      [type]="SummaryCardWidgetTypeEnum.Outcome"
    ></fpd-summary-card-widget>
  </div>

  <fpd-latest-records-widget
    [label]="'Current period records'"
    [summary]="summary$ | async"
  ></fpd-latest-records-widget>
</div>
