@import "apps/dashboard/src/styles/variables";

:host {
  display: flex;
  flex-grow: 1;
  background: $page-bg;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
}

.main-content {
  padding: 36px;
}
