<div class="fpd-card">
  <h3>{{ label }}</h3>

  <div class="budget-stats">
    @for (budgetStat of budgetStats; track budgetStat) {
      <div class="budget-name">
        <p class="name">{{ budgetStat.budget.name }}</p>
        <p class="amount">
          {{ budgetStat.budget.amount | amountFormat | currencyFormat: budgetStat.budget.currencyCode }}
        </p>
      </div>
      <div class="budget-progress">
        <div class="budget-progress-bar">
          <div
            class="budget-progress-bar-bar"
            [style.width.%]="(budgetStat.amount / budgetStat.budget.amount) * 100"
          ></div>
          <p class="budget-progress-bar-percentage">{{ budgetStat.amount / budgetStat.budget.amount | percent }}</p>
        </div>
      </div>
    }
  </div>
</div>
