<nz-spin [nzSpinning]="isLoading$ | async">
  <form nz-form [formGroup]="formGroup" [nzLayout]="'vertical'">
    <nz-form-item>
      <nz-form-label>Name</nz-form-label>

      <nz-form-control>
        <input nz-input formControlName="name" type="text" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Amount</nz-form-label>

      <nz-form-control>
        <nz-input-number formControlName="amount"></nz-input-number>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Currency</nz-form-label>

      <nz-form-control>
        <nz-select formControlName="currencyCode" nzPlaceHolder="Choose" [nzOptions]="currencyOptions"> </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Category</nz-form-label>

      <nz-form-control>
        <nz-select
          formControlName="category"
          nzPlaceHolder="Choose"
          [nzLoading]="isLoading$ | async"
          [nzOptions]="(categoriesOptions$ | async) ?? []"
          [compareWith]="compareWithFn"
        >
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>
