@switch (currentStep) {
  @case (AddProviderStepEnum.AddProvider) {
    <fpd-add-provider-step
      (selectedProviderTypeToAdd)="onSelectedProviderTypeToAdd($event)"
      (saveProviderDataStep)="onSaveProviderDataStep()"
    ></fpd-add-provider-step>
  }

  @case (AddProviderStepEnum.SaveProviderData) {
    <fpd-save-provider-data-step (selectProvider)="onSelectProvider($event)"></fpd-save-provider-data-step>
  }
}

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onDestroyModal()">Cancel</button>
</div>
