<ng-container [ngSwitch]="currentStep">
  <fpd-add-provider-step
    *ngSwitchCase="AddProviderStepEnum.AddProvider"
    (selectedProviderTypeToAdd)="onSelectedProviderTypeToAdd($event)"
    (saveProviderDataStep)="onSaveProviderDataStep()"
  ></fpd-add-provider-step>

  <fpd-save-provider-data-step
    *ngSwitchCase="AddProviderStepEnum.SaveProviderData"
    (selectProvider)="onSelectProvider($event)"
  ></fpd-save-provider-data-step>
</ng-container>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onDestroyModal()">Cancel</button>
</div>
