<p>Select existing bank provider</p>

<nz-select class="providers-select" [(ngModel)]="selectedProvider" (ngModelChange)="onProviderChange($event)">
  @for (provider of providers; track provider.id) {
    <nz-option [nzValue]="provider" [nzLabel]="provider.name"></nz-option>
  }
</nz-select>

<p>or</p>

<button nzType="primary" nz-button (click)="onAddProviderStep()">Add provider</button>

<div *nzModalFooter>
  <button nz-button nzType="primary" [disabled]="!selectedProvider" (click)="onNext()">Next</button>

  <button nz-button nzType="default" (click)="onClose()">Cancel</button>
</div>
