<nz-spin [nzSpinning]="isLoading$ | async">
  @if (savedAccounts$ | async; as accounts) {
    @if (accounts.length) {
      <p>Accounts was saved:</p>
      @for (account of accounts; track account) {
        <p>
          {{ account.name }} - {{ account.maskedPan }} -
          {{ account.balance | amountFormat | currencyFormat: account.currencyCode }}
        </p>
      }
      <p>Next you could setup initial synchronization.</p>
    }
  }
</nz-spin>

<div *nzModalFooter>
  <button nz-button nzType="primary" [disabled]="!(savedAccounts$ | async)?.length" (click)="onNext()">
    Setup initial synchronization
  </button>

  <button nz-button nzType="default" [disabled]="!(savedAccounts$ | async)?.length" (click)="onClose()">Later</button>
</div>
