<fpd-page-header [title]="'Records'"></fpd-page-header>

<div class="fpd-card">
  <nz-table
    #table
    [nzLoading]="isLoading$ | async"
    [nzData]="(records$ | async) ?? []"
    [nzFrontPagination]="false"
    [nzPageIndex]="(pagination$ | async)!.pageIndex"
    [nzPageSize]="(pagination$ | async)!.pageSize"
    [nzTotal]="(pagination$ | async)!.total"
    (nzPageIndexChange)="onPageIndexChanged($event)"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of table.data">
        <td>
          {{ record.name }}
        </td>
        <td>{{ record.category?.name ?? 'none' }}</td>
        <td>
          <span
            [class.income]="record.type === RecordTypeEnum.Income"
            [class.outcome]="record.type === RecordTypeEnum.Outcome"
            >{{ record.amount | amountFormat | currencyFormat : record.currencyCode }}</span
          >
        </td>
        <td>
          <span *ngIf="record.bankCreatedAt">{{ record.bankCreatedAt | date : 'medium' }}</span>
        </td>
        <td>
          <button nz-button nzSize="small" (click)="onEditRecord(record)">Edit</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
